/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Monterserrat:400,700');
section
{
  width:80%;
  margin: 0 auto;
  padding :2em;
}

body,html{
  height:100%;
  margin:0 auto;
}
body{
  font-size: 18px;
  font-family: 'Montserrat';
}
a{
  text-decoration: none;
}
.container{
  width: 80%;
  margin: 0 auto;
  padding : 1.3em;
  display:grid;
  grid-template-columns: 30% auto;
  a{
    color:white;
  }
}

